{% extends 'base.html.twig' %}

{% block body %}
    <div class="card text-white border-danger">
        <div class="card-header bg-danger">Delete article</div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock body %}